**DATA** **TYPES** **AND** ***STRUCTURES***

1.What are data structure , and why are they important ?

Answer:Data structure are specialized formats for organizing ,storing ,and accessing collectionsnpf data. They provide efficient ways o manage information based on its characteristics and intended use.

Data structure are important because


*  choosing the right data structure significantly impacts the efficiency and performance of your programe.
*   wel-chosen data structure can

*   simplify data manipulation [adding, removing, modifying elements].


*   optimize searching and sorting operation.
*   conserve memory usage.

2.Explain the difference between mutable and immutable data types with example.

Answer:Mutable data types are those whose values can be modified after they are created.
example: list, dict.

immutable data types are those whose values cannot be changed after they are created.
example : int, tuple, float

3. What are the main differences between list and tuples in python ?

ANSWER:List are mutable data types .
Tuples are immutable data types .

4.Describe how dictionaries store data?

Answer : A Dictionary is an unordered data structure with elements separated by a comma and stored as a keyvalue pair.It ix enclosed with in curly brackets. Also the key value pair is separed by a colon (:).

5.Why might you use a set instead of a list in python?

Answer: Because sets cannot have multiple occurence of the same element,it make sets highly useful to efficiently remove duplicate values.

6.what is a string in python , and how is it different from a list?

answer: string is a sequence of character where each character is a single unit of text which is a helpful to represent and manupulate texual data in programming language .

7. How do tuples ensure data integrity in python ?

answer: In python tuples ensure data integrity primarily through their immutability means once a tuple is created , its elements cannot be modified , addad or removed.

8.what is a hash table , and how does it relate to dictionaries in python ?

answer:a hash table is a data structure that implements an associative array ,also known as a dictionary or map.
*python dictonwise  leverage the hash table's  effenciecy for their oparations.

9.Can lists contain different data types in Python3?

Ans. Yes, absolutely!
Python lists can contain elements of different data types, like numbers, strings, and booleans, all in the same list. For example: my_list = [1, "hello", 3.14, True]

10.Explain why string are immutable in python.


answer:string are used very often ,so python is able to do many optimizations that won't be possible if string were mutable.

11.What advantages do dictionaries offer over lists for certain tasks?

answer:Dictionaries offer significant advantages over lists for certain tasks , particularly those involving key value mapping ,quick look up and clear data representation.

12.Describe a scenario where using a tuple would be preferable over a list.

Answer:Use a tuple when data should remain constant and not be modified like configuration setting , geographical coordinates or data base records.

13.how do sets handle duplicate values in python ?

Answer:In python , sets inherently handle duplicates values by not allowing them to exits in the first place .This is a core property of sets , mirnoring , you 're asking if a key exist.

14.HOW does the "in" keywords work differently for lists and dictionaries ?

answer:For list you're asing if a value is there for dictionaries ,you're asking if a key exist.

15.can you modify the elements of a tuple ? explain why or why not ?

answer:no tuple can not be modified.
  *tuples are immutable so it can not be modified.

16.What is a nested dictionaries , and give an example of its use case?

Answer:A nested dictionary in python is a dictionary where the value for one or more keys is itself another dictionary.this allows you to create hierarchcal structure to organize more complex data.
   example :contact book/phone book.

17.describe the time complexity of accessing elements in a dictionary.

answer:Accessing an element in a python dictionary typically has a time complexity of 0(1) on average.

18.In what situation are list prefered over dictionaries ?

Answer:If you need an ordered collection,like a sequence of user actions list prefered over dictionaries.

19.why are dictionaries considered unordered , and how does that affect data retrieval?

Answer:dictionaries are unordered because python dictionaries are not intened to be in order.

20.Explain the difference between a list and a dictionary in terms of data retrieval.?

Answer:
List: Access data using numerical indices (position), starting from 0.
Dictionary: Access data using unique keys (labels) associated with values.

**Practical Questions**

1.write a code to create a string with your name and print it.

In [ ]:
name = "amrita"
print(name)

amrita

2. Write a code to find the length of the string "hello world".

In [ ]:
name = input("enter your name length")
name_length = len(name)
print(f"the length of your name: {name_length}")

enter your name lengthhello world
the length of your name: 11

3.write a code to slice the first 3 characters from the string "python programming".

In [ ]:
my_string = "python programming"
slice = my_string[0:3]
print(slice)

pyt

4.write a code to convert the string "hello" to uppercase.

In [ ]:
text = "hello"
uppercase_text = text.upper()
print(uppercase_text)

HELLO

5.write a code to replace the word "apple"with "orange" in the string "I like apple".

In [ ]:
my_string = "I like apple"
new_string = my_string.replace("apple","orange")
print(new_string)

I like orange

6.write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
my_list = list(range(1,6))
print(my_list)

[1, 2, 3, 4, 5]

7.write a code to append  the number 10 to the list [1,2,3,4].

In [ ]:
my_list =[1,2,3,4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

8.write a code to remove the number 3 from the list [1,2,3,4,5]

In [ ]:
my_list = [1,2,3,4,5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'] ?

In [ ]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

10.Write a code to reverse the list [10, 20, 30, 40, 50].?

In [ ]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it

In [ ]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last_element = my_tuple[-2]
print(second_to_last_element)

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
my_tuple = (10, 20, 5, 15)
min_number = min(my_tuple)
print(min_number)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits_tuple = ("apple", "banana", "cherry")
if "kiwi" in fruits_tuple:
    print("Yes, kiwi is in the fruits tuple.")
else:
    print("No, kiwi is not in the fruits tuple.")

No, kiwi is not in the fruits tuple.

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'a', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
my_set = {1, 2, 3, 4, 5}
print("Original set:", my_set)

my_set.clear()
print("Set after clearing:", my_set)

Original set: {1, 2, 3, 4, 5}
Set after clearing: set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
my_set = {1, 2, 3, 4}
print("Original set:", my_set)

my_set.discard(4)
print("Set after removing 4:", my_set)

Original set: {1, 2, 3, 4}
Set after removing 4: {1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}

intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [ ]:
my_dictionary = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}
print(my_dictionary)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'

print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
my_dictionary = {'name': 'Alice', 'age': 30}
name_value = my_dictionary["name"]
print(name_value)

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
my_dictionary = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dictionary['age']
print(my_dictionary)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
my_dictionary = {'name': 'Alice', 'city': 'Paris'}

if "city" in my_dictionary:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
my_list = [10, 20, 30, "apple", "banana"]
my_tuple = (100, 200, "cat", "dog")
my_dictionary = {"name": "Alice", "age": 30, "city": "New York"}

print("List:", my_list, "\nTuple:", my_tuple, "\nDictionary:", my_dictionary)

List: [10, 20, 30, 'apple', 'banana']
Tuple: (100, 200, 'cat', 'dog')
Dictionary: {'name': 'Alice', 'age': 30, 'city': 'New York'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.

In [ ]:
import random
random_numbers = sorted([random.randint(1, 100) for _ in range(5)])
print("Sorted random numbers (ascending):", random_numbers)

Sorted random numbers (ascending): [8, 35, 66, 72, 95]

28. Write a code to create a list with strings and print the element at the third index

In [ ]:
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(my_list[2])

cherry

29. Write a code to combine two dictionaries into one and print the result

In [ ]:
dict1 = {'name': 'Alice', 'age': 30}
dict2 = {'city': 'New York', 'occupation': 'Engineer'}
dict1.update(dict2)
print(dict1)

{'name': 'Alice', 'age': 30, 'city': 'New York', 'occupation': 'Engineer'}

30. Write a code to convert a list of strings into a set

In [ ]:
my_list_of_strings = ["apple", "banana", "cherry", "apple", "date"]
my_set = set(my_list_of_strings)
print(my_set)

{'cherry', 'date', 'apple', 'banana'}